import request from '@/utils/request'

export function get${ClassName}List(params) {
  return request({ url: '/api/v1/${moduleName}/${bizName}', method: 'get', params })
}

export function get${ClassName}Detail(id) {
  return request({ url: `/api/v1/${moduleName}/${bizName}/${id}`, method: 'get' })
}

export function create${ClassName}(data) {
  return request({ url: '/api/v1/${moduleName}/${bizName}', method: 'post', data })
}

export function update${ClassName}(id, data) {
  return request({ url: `/api/v1/${moduleName}/${bizName}/${id}`, method: 'put', data })
}

export function delete${ClassName}(id) {
  return request({ url: `/api/v1/${moduleName}/${bizName}/${id}`, method: 'delete' })
}
