package com.mochu.${moduleName}.mapper;

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import com.mochu.${moduleName}.entity.${ClassName};
import org.apache.ibatis.annotations.Mapper;

@Mapper
public interface ${ClassName}Mapper extends BaseMapper<${ClassName}> {
}
